/* global.css */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.max-row {
  @apply w-[84%] mx-auto max-lg:w-[100%] max-lg:px-4;
  /* @apply max-w-[1440px] mx-auto px-3 max-lg:px-4; */
}

.ant-input:focus {
  border-color: #25B9EC !important;
  border: none;
}

/* 全局覆盖 */
.ant-input:focus {
  --tw-ring-color: #25B9EC !important;
}

/* 带 suffix/prefix 的情况 */
.ant-input-affix-wrapper:focus-within {
  --tw-ring-color: #25B9EC !important;
}
.skeleton-animation {
  animation: pulse 1.5s infinite;
}

/* 定义动画效果 */
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.max-row {
  @apply w-[84%] mx-auto max-lg:w-[100%] max-lg:px-4;
  /* @apply max-w-[1440px] mx-auto px-3 max-lg:px-4; */
}

.ant-input:focus {
  border-color: #25B9EC !important;
  border: none;
}

/* 全局覆盖 */
.ant-input:focus {
  --tw-ring-color: #25B9EC !important;
}

/* 带 suffix/prefix 的情况 */
.ant-input-affix-wrapper:focus-within {
  --tw-ring-color: #25B9EC !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
  }
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin{
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

:deep(.ant-select:not(.ant-select-disabled):hover .ant-select-selector) {
  border-color: #d9d9d9 !important;
  /* 或 transparent */
}


:deep(.ant-select-focused .ant-select-selector) {
  border-color: #d9d9d9 !important;
  /* 或 transparent */
  box-shadow: none !important;
  outline: none !important;
}


:deep(.ant-select .ant-select-selector .ant-select-selection-search-input),
:deep(.ant-select .ant-select-selector .ant-select-selection-search-input:focus),
:deep(.ant-select .ant-select-selector .ant-select-selection-search-input:focus-visible),
:deep(.ant-select .ant-select-selector input[type="search"]),
:deep(.ant-select .ant-select-selector input[type="search"]:focus),
:deep(.ant-select .ant-select-selector input[type="search"]:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}


:deep(.ant-select .ant-select-selector::after) {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
}