/* global.css */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
  }
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin{
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

:deep(.ant-select:not(.ant-select-disabled):hover .ant-select-selector) {
  border-color: #d9d9d9 !important;
  /* 或 transparent */
}


:deep(.ant-select-focused .ant-select-selector) {
  border-color: #d9d9d9 !important;
  /* 或 transparent */
  box-shadow: none !important;
  outline: none !important;
}


:deep(.ant-select .ant-select-selector .ant-select-selection-search-input),
:deep(.ant-select .ant-select-selector .ant-select-selection-search-input:focus),
:deep(.ant-select .ant-select-selector .ant-select-selection-search-input:focus-visible),
:deep(.ant-select .ant-select-selector input[type="search"]),
:deep(.ant-select .ant-select-selector input[type="search"]:focus),
:deep(.ant-select .ant-select-selector input[type="search"]:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}


:deep(.ant-select .ant-select-selector::after) {
  box-shadow: none !important;
  outline: none !important;
  border: 0 !important;
}